---
let x = `
---
${`
---
`}
---
`;
---
<!-- Some basic tests -->
<MyCustomElement someattr={(function() { return someexpr(like + this); })()}>
    { 
        someOtherExpr(null)
    }
</MyCustomElement>
{ "should also work at top level" }
{ array.map(x => <p> should also support JSX </p>) }
