<!-- Inbuilt tags should not conflict with different-cased components (<meta> vs <Meta>) -->
<Meta>
    <p>
    </p>
</Meta>
<!-- ...but don't also confuse <meta> with something else -->
<meta charset="utf-8">
